.basicButton {
  padding: 10px 25px;
  font-family: sans-serif;
  font-weight: 500;
  background: transparent;
  outline: none !important;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  border: 2px solid rgb(0, 0, 0);
  z-index: 1;
  color: black;
  width: 120px;
}

.basicButton:hover {
  background-color: rgb(232, 232, 232);
}

.basicButton:active {
  background-color: black;
  color: white;
}
.basicButton:disabled {
  background-color: gray;
  color: white;
  border: 2px solid gray;
}

@media only screen and (max-width: 600px) {
  .basicButton {
    font-size: 18px;
  }
  .movementButton {
    display: none;
  }
}
