@import url(buttonStyle.css);
@import url(videoView.css);
html,
body {
  height: 100%;
  font-family: Sans-serif;
}
body {
  margin: 0;
}
.noSelect {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.noSelect:focus {
  outline: none !important;
}
.main {
  height: 100%;
  padding: 0;
  margin: 10;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  overflow: auto;
}

.root {
  display: flex;
  flex-wrap: wrap;
  animation-duration: 0.5s;
}

.root--moveLeft {
  animation-name: moveLeft;
}

.root--moveRight {
  animation-name: moveRight;
}

@keyframes moveLeft {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes moveRight {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
